
@{
    var userID = (string)Session["UserID"];
    var roleName = (string)Session["Role"];
}

@{
    if (roleName == null)
    {
        <a href="#" data-toggle="modal" data-target="#loginModal"><span class="fas fa-sign-in-alt"></span> Login</a>
    }
    else
    {
        <a href="Users/UserAllInfo/@userID"><span class="fa fa-user"></span> @Session["UserName"]</a>
    }
}

<div class="clearfix"></div>

<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="mc">
            <div class="modal-header">
                <h4>Login</h4>
                <button id="closeModalBtn" type="button" class="close" data-dismiss="modal"> &times;</button>
            </div>
            <div class="modal-body">
                <div class="form">
                    <form class="register-form" method="post">
                        <input id="crName" type="text" placeholder="Name" />
                        <input id="crEmail" type="text" placeholder="E-mail address" />
                        <input id="crPassword" type="password" placeholder="Password" />
                        <button id="crBtn">Create</button>
                        <p class="message">Already registered? <a href="#">Sign In</a></p>
                    </form>

                    <form class="login-form">
                        <input id="loginEmail" type="text" placeholder="E-mail" />
                        <input id="loginPassword" type="password" placeholder="Password" />
                        <button id="loginBtn">Login</button>
                        <p class="message">Not registered? <a href="#">Create an account</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="userModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="mc1">
            <div class="modal-header">
                <h4>Log out</h4>
                <button id="closeModalBtn" type="button" class="close" data-dismiss="modal"> &times;</button>
            </div>
            <div class="modal-body">
                <div class="form">
                    <form class="login-form">
                        <button id="logoutBtn">Log out  <span class="fas fa-sign-in-alt"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
