
@{
    ViewBag.Title = "Registered notifications";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Custom/NotificationsAdmin.js")"></script>

}
<h2>Registered notifications</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>State</th>
            <th>User</th>
            <th>Email</th>
            <th>Message</th>
            <th>Sent date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: viewModel.notifications">
        <tr>
            <td data-bind="text: State.Name"></td>
            <td data-bind="text: User.Name"></td>
            <td data-bind="text: User.Email"></td>
            <td data-bind="text: Message"></td>
            <td data-bind="text: RegDate"></td>
            <td>
                <button class="btn btn-sm btn-danger">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
