
@{
    ViewBag.Title = "Registered spectacles";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Custom/SpectaclesAdmin.js")"></script>

}
<h2>Registered spectacles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form>
    <div class="input-group input-group-sm">
        <select data-bind="options: viewModel.genres, optionsText: 'Name', optionsValue: 'ID', optionsCaption: 'Genre...'" />
        <input type="text" placeholder="Spectacle name..." class="form-control form-control-sm" required />
        <input type="number" placeholder="Ticket's cost..." class="form-control form-control-sm" required />
        <input type="datetime-local" name="playdate" class="form-control form-control-sm" required />
        <button type="submit" class="addBtn">
            Add
        </button>
    </div>
</form>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Genre</th>
            <th>State</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Play date</th>
            <th>Added date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: viewModel.spectacles">
        <tr>
            <td data-bind="text: Genre.Name"></td>
            <td data-bind="text: State.Name"></td>
            <td data-bind="text: Name"></td>
            <td data-bind="text: Cost"></td>
            <td data-bind="text: PlayDate"></td>
            <td data-bind="text: RegDate"></td>
            <td>
                <button class="btn btn-xs btn-danger" data-bind="click: removeItem">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
