body {
    margin: 0px;
    font-family: 'Century Gothic';
    background-color: honeydew;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

.body-content {
    background-color: #e8faf3;
    margin-top: 0px;
    margin-bottom: -80px;
    padding: 15px;
    border-radius: 5px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    display: block;
    float: left;
    max-width: 280px;
    margin: 10px;
}

.currenttime {
    color: white;
}

/* ***********   CUSTOM STYLES   **************** */

.modal-backdrop.show{
    z-index: 99;
}

.card-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

#mc {
    width:400px;
    height:500px;
    background-color: #CFCFCF;
}

.login-page {
    height: 500px;
    width: 350px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #CFCFCF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

    .form input {
        font-family: 'Century Gothic';
        outline: 0;
        background: #fff;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: 'Century Gothic';
        text-transform: uppercase;
        outline: 0;
        background: #1d8f65;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

        .form button:hover, .form button:active, .form button:focus {
            background: #43A047;
        }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

        .form .message a {
            color: #4CAF50;
            text-decoration: none;
        }

    .form .register-form {
        display: none;
    }


.addBtn {
    margin: 10px;
    height: 30px;
    display: block;
    float: left;
    border-radius: 5px;
    background-color: #1d8f65;
    color: #fff;
}

#did {
    display: block;
    float: left;
    width: 100%;
}

thead {
    background-color: #1d8f65;
    color: #fff;
    text-align: center;
}

.liveExample {
    padding: 1em;
}

    .liveExample input {
        font-family: 'Century Gothic';
    }

    .liveExample b {
        font-weight: bold;
    }

    .liveExample p {
        margin-top: 0.9em;
        margin-bottom: 0.9em;
    }

    .liveExample select[multiple] {
        width: 100%;
        height: 8em;
    }

    .liveExample h2 {
        margin-top: 0.4em;
    }

.ko-grid {
    margin-bottom: 1em;
    width: 25em;
    border: 1px solid silver;
    background-color: White;
}

    .ko-grid th {
        text-align: left;
        background-color: #1d8f65;
        color: White;
        padding: 10px;
    }

    .ko-grid td, th {
        padding: 0.4em;
    }

    .ko-grid tr:nth-child(odd) {
        background-color: #c0e5c8;
    }

.ko-grid-pageLinks {
    margin-bottom: 1em;
    color: #1d8f65;
}

    .ko-grid-pageLinks a {
        padding: 0.5em;
    }

        .ko-grid-pageLinks a.selected {
            background-color: #1d8f65;
            color: White;
            border-radius: 5px;
        }

.liveExample {
    height: 20em;
    overflow: auto
}
/* Mobile Safari reflows pages slowly, so fix the height to avoid the need for reflows */

li {
    list-style-type: none;
    margin-left: 20px;
}

#navlogo {
    display: block;
    float: left;
    width: 35px;
    height: 35px;
}

.nav {
    height: 53px;
    width: 100%;
    background-color: #1d8f65;
    position: relative;
    color: #fff;
}

    .nav > .nav-header {
        display: inline;
    }

        .nav > .nav-header > .nav-title {
            display: inline-block;
            font-size: 22px;
            color: #fff;
            padding: 10px 10px 10px 10px;
        }

    .nav > .nav-btn {
        display: none;
    }

    .nav > .nav-links {
        display: inline;
        float: right;
        font-size: 18px;
    }

        .nav > .nav-links > a {
            display: inline-block;
            padding: 13px 10px 13px 10px;
            text-decoration: none;
            color: #efefef;
        }

            .nav > .nav-links > a:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }

    .nav > #nav-check {
        display: none;
    }

@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

        .nav > .nav-btn > label {
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 13px;
        }

            .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
                background-color: rgba(0, 0, 0, 0.3);
            }

            .nav > .nav-btn > label > span {
                display: block;
                width: 25px;
                height: 10px;
                border-top: 2px solid #eee;
            }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #2d9f75;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

        .nav > .nav-links > a {
            display: block;
            width: 100%;
        }

    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

.footer-distributed {
    background-color: #1d8f65;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }

    /* Footer left */

    .footer-distributed .footer-left {
        width: 40%;
    }

    /* The company logo */

    .footer-distributed h3 {
        color: #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }

        .footer-distributed h3 span {
            color: #5383d3;
        }

    /* Footer links */

    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }

        .footer-distributed .footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

    .footer-distributed .footer-company-name {
        color: white;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

    /* Footer Center */

    .footer-distributed .footer-center {
        width: 35%;
    }

        .footer-distributed .footer-center i {
            background-color: #188968;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

            .footer-distributed .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }

        .footer-distributed .footer-center p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0;
        }

            .footer-distributed .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }

            .footer-distributed .footer-center p a {
                color: #5383d3;
                text-decoration: none;
                ;
            }


    /* Footer Right */

    .footer-distributed .footer-right {
        width: 20%;
    }

    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: white;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }

        .footer-distributed .footer-company-about span {
            display: block;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }

    .footer-distributed .footer-icons {
        margin-top: 25px;
    }

        .footer-distributed .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #188968;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }

            .footer-distributed .footer-center i {
                margin-left: 0;
            }
}
