
@{
    ViewBag.Title = "Registered sales";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Custom/SalesAdmin.js")"></script>

}
<h2>Registered sales</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>State</th>
            <th>User</th>
            <th>Spectacle</th>
            <th>Amount</th>
            <th>Added date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: viewModel.users">
        <tr>
            <td data-bind="text: State.Name"></td>
            <td data-bind="text: User.Name"></td>
            <td data-bind="text: Spectacle.Name"></td>
            <td data-bind="text: Amount"></td>
            <td data-bind="text: RegDate"></td>
            <td>
                <button class="btn btn-sm btn-danger">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
